:root {
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: inherit;
}

body {
  margin: 0;
  padding: 0;
}

button {
  font-family: 'Inter', sans-serif;
  border: none;
  cursor: pointer;
}
